# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\复习\推荐系统\RecommederProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
